<app-header-admin> </app-header-admin>
<div class="page-container">
  <div class="main-content" style="background-color: #242424">
    <div class="card">
      <div class="header">
        <a href="#" class="back-arrow" routerLink="/admin">&#8592;</a>
        <h1 class="title" style="color: aliceblue">เพิ่มเกม</h1>
      </div>

      <form class="game-form">
        <div class="profile-upload-container" style="margin-bottom: 20px; justify-content: center">
          <div class="profile-upload" (click)="fileInput.click()">
            <!-- แสดงข้อความเมื่อยังไม่มีรูป -->
            <div *ngIf="!profilePreview" class="upload-placeholder">
              <span class="material-icons">add_a_photo</span>
              <p>เลือกรูปโปรไฟล์</p>
            </div>

            <!-- แสดงรูปที่เลือก -->
            <img
              *ngIf="profilePreview"
              [src]="profilePreview"
              alt="Profile Preview"
              class="profile-preview-image"
            />

            <!-- Badge แสดงว่าสามารถเปลี่ยนรูปได้ -->
            <div *ngIf="profilePreview" class="edit-badge">
              <span class="material-icons">edit</span>
            </div>

            <!-- Input file ซ่อนไว้ -->
            <input
              #fileInput
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
              style="display: none"
            />
          </div>
        </div>

        <div class="input-group">
          <label for="game-name" class="visually-hidden">ชื่อเกม</label>
          <input type="text" id="game-name" name="game-name" placeholder="ชื่อเกม" required />
        </div>

        <div class="input-group">
          <label for="game-details" class="visually-hidden">รายละเอียดเกม</label>
          <textarea
            id="game-details"
            name="game-details"
            placeholder="รายละเอียดเกม"
            rows="4"
            required
          ></textarea>
        </div>

        <div class="input-group select-group">
          <label for="game-type" class="visually-hidden">ประเภทของเกม</label>
          <select name="gameType" [(ngModel)]="selectedCategory" (change)="getTypegmae()">
            <option value="">ประเภททั้งหมด</option>
            <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
          </select>
          <span class="select-arrow">&#9662;</span>
        </div>

        <button type="submit" class="submit-button">เพิ่มเกม</button>
      </form>
    </div>
  </div>
</div>
